@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #204c93;
  --primary-dark: #280032;
  --danger: #C54217;
  --danger-dark: #8C2E10;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
   @apply bg-gray-100 text-gray-800;

}

/* ajustes básicos que ayudan a consistencia */
html,body,#__next{
  height:100%;
}

.container{
  max-width:1200px;
  margin:0 auto;
  padding:16px;
}
button{ cursor:pointer; }